{% extends 'base.html.twig' %}
{% block title %}
    Les auteurs
{% endblock %}
{% block main %}
    <h1> Les derniers livres parus cette semaine</h1>
    <p>Decouvrez notre selection des derniers articles parus. Nichon Magazine est un must have !!  </p>

    {% for author in authors %}
        <article>
            <h2> Prénom: {{author.firstName }}</h2>
            <h3> Nom: {{ author.lastName }}</h3>
            <p>Né le: {{ author.birthDate('d/m/y') }}</p>
            <p>Mort le: {{ author.deathDate('d/m/y') }}</p>
            <p> Ses livres: {{ author.books }}</p>

        </article>
    {% endfor %}
{% endblock %}