{% extends 'base.html.twig' %}
{% block title %}
    Les auteurs
{% endblock %}
{% block main %}
    <h1> les auteurs dans la place</h1>
    <p>Decouvrez notre selection de nos meilleurs auteurs! Marc D est notre préféré:)   </p>

    {% for author in authors %}
        <article class="author">
            <h2> Prénom: {{author.firstName }}</h2>
            <h3> Nom: {{ author.lastName }}</h3>
            <p>Né le: {{ author.birthDate|date('d/m/y') }}</p>
            <p>Mort le: {{ author.deathDate|date('d/m/y') }}</p>
            <a class="btn" href="{{ path('admin_author_solo',{'id':author.id}) }}">Plus sur cet auteur</a>
        </article>
        <a class="btn" href="{{ path('admin_insert_author',{'id':author.id}) }}">Créer auteur</a>
    {% endfor %}

{% endblock %}