{% extends'base.html.twig' %}

{% block main %}
    <h1> les auteurs dans la place</h1>
    <p>Decouvrez notre selection de nos meilleurs auteurs! Marc D est notre préféré:)   </p>

    {% for author in authors %}
    <article class="author">
        <h2> Prénom: {{author.firstName }}</h2>
        <h3> Nom: {{ author.lastName }}</h3>
        <p>Né le: {{ author.birthDate|date('d/m/Y') }}</p>
        <p>Mort le: {{ author.deathDate|date('d/m/Y') }}</p>
        <a class="btn" href="{{ path('author_solo',{'id':author.id}) }}">Plus sur cet auteur</a>
    </article>
    {% endfor %}
{% endblock %}