{% extends'base.html.twig' %}

{% block main %}
{% block title %}{{author.lastname}}{% endblock %}

    <article class="author">
        <h2>Nom : {{ author.lastName }}</h2>
        <p>Prenom: {{ author.firstName }}</p>
        {% if (author.birthDate) %}
            <p>Date de naissance: {{ author.birthDate|date('d/m/Y') }}</p>
        {% endif %}
        {% if(author.deathDate) %}
            <p>Date de décès:{{ author.deathDate|date('d/m/Y')}} </p>
        {% endif %}
    </article>
{% endblock %}